body 
{
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
	font-size: 100%;
	background: #333;
	
}


/* Header
-------------------------------------------------- */

#header
{
	width: 460px;
	margin: 0 auto;
	font-size: .75em;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#header h1
{
	color: rgb(202, 36, 36);
	font-weight: normal;
	margin: 30px 0 3px 0;
	letter-spacing: .04em;
}

#header ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#header ul li 
{
	float: left;
	text-align: center;
}

#header ul li a
{
	display: block;
	color:#e0a6ef;
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 20px;
}

#header ul li a:hover
{
	text-decoration: underline;
	color: #b59dca;
}




#home		{ background: #15d1cb; }
#home h2	{ background: #007aa5; }
#about		{ background: #be66ca; }
#about h2	{ background: #615b5e; }
#contact	{ background: #963b68; }
#contact h2	{ background: #f54ba5; }
#awards		{ background: #b7f48f; }
#awards	h2	{ background: #2c9583; }
#links		{ background: #a68df1; }
#links h2	{ background: #df270f; }


/* Footer
-------------------------------------------------- */

#footer
{
	width: 460px;
	margin: 0 auto;
	margin-bottom: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#footer p
{
	color: rgb(207, 216, 173);
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: .04em;
	margin: 0;
}

#footer a
{
	text-decoration: none;
	color: #97e7b7;
}

#footer a:hover
{
	text-decoration: underline;
	color: #b5dcfa;
}


/* Self-Clearning Rules 
-------------------------------------------------- */

ul#navigation:after 
{
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

* html ul#navigation 	{ height: 1px; }
ul#navigation 			{ min-height: 1px; }